.score.svelte-t2cjo8 {
  border: 2px solid #ffdd72;
  background: linear-gradient(180deg, #f0ca45 0%, #efba52 100%);
  box-shadow: 0 -11px 27px #f68a0c80 inset, 0 4px 7px #fffdf666 inset;
  text-shadow: 0px 1px 4px #e59720;
}
